@import "../../partials/variables";
.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: -1;

  .featuredItem {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 250px;
    color: $white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .featuredTitle {
      position: absolute;
      bottom: 20px;
      left: 20px;
      display: flex;
      flex-direction: column;
      & > span:nth-child(1) {
        font-size: 36px;
        font-weight: 500;
      }
      & > span:nth-child(2) {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  .loading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-block: 50px;
  }
}
