// pop colors
$dark-blue: #003580;
$light-blue: #0071c2;
$yellow: #febb02;
$green: #008009;

// muted colors
$white: #ffffff;
$black: #000000;
$dark-gray: #555555;
$light-gray: #d3d3d3;
$very-light-blue: #ebf3ff;
