@import "../../partials/variables";

.mail {
  width: 100%;
  margin-top: 50px;
  background-color: $dark-blue;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;

  .mailDesc {
    font-size: 20px;
    font-weight: 500;
  }

  .mailInputContainer > input {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    margin-right: 10px;
    color: $black;
    font-size: 18px;
    border-radius: 5px;
  }

  .mailInputContainer > button {
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: $light-blue;
    color: $white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-inline: 10px;
    cursor: pointer;
  }
}
